table {
    width: 100%;
  }
  .mat-header-cell {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: black;
    text-align: left ;
  }
  .nameTable
  {
    width: 10px;
    
  }
  .nameFood{
    width: 100px;
  }
  .quantity{
    width: 50px;

  }
  .total{
    width:50px;
  }
  .date
  {
    width:50px;
  }