table {
    width: 100%;
  }
  th {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: black;
    text-align: center;
  }