USE [master]
GO
/****** Object:  Database [CafeShopManagement]    Script Date: 10/7/2018 5:46:46 PM ******/
CREATE DATABASE [CafeShopManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CafeShopManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CafeShopManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CafeShopManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CafeShopManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CafeShopManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CafeShopManagement]
GO
USE [CafeShopManagement]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 10/7/2018 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10/7/2018 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [uniqueidentifier] NOT NULL,
	[TableId] [uniqueidentifier] NOT NULL,
	[FoodId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[OrderHistory]    Script Date: 10/7/2018 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TABLE [dbo].[OrderHistory](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderSessionId] [uniqueidentifier] NOT NULL,
	[TableId] [uniqueidentifier] NOT NULL,
	[FoodId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_OrderHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  Table [dbo].[Table]    Script Date: 10/7/2018 5:46:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[SortOrder] [int] NULL,
 CONSTRAINT [PK_Table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
drop table [Employee]
CREATE TABLE [Employee]
(
	[Id] [uniqueidentifier] NOT NULL,
	[Name] VARCHAR (15) NOT NULL,
	[Phone] VARCHAR(15) NOT NULL,
	[Email] VARCHAR(50) UNIQUE NOT NULL,
	[Type] VARCHAR(10) NOT NULL,
	[BirthDay] VARCHAR (10) NOT NULL,
	[Gender] VARCHAR(6) NOT NULL
	CONSTRAINT PK_E PRIMARY KEY (Id)
)


INSERT [dbo].[Food] ([Id], [Name], [Price], [Type]) VALUES (N'20dbd024-caf0-4b98-8286-13778784e89d', N'Com bò', 45000, N'Đồ ăn')
INSERT [dbo].[Food] ([Id], [Name], [Price], [Type]) VALUES (N'adfe8f44-951c-4fc4-9b4a-3522bed57b48', N'Com sườn', 45000, N'Đồ ăn')
INSERT [dbo].[Food] ([Id], [Name], [Price], [Type]) VALUES (N'2f68c725-a70f-4876-bf69-369339414d6b', N'Coffee', 25000, N'Nước')


INSERT [dbo].[Order] ([Id], [TableId], [FoodId], [Quantity], [Date]) VALUES (N'281f4441-cc3c-4b53-bbd6-3bdcbc5db0fa', N'b75677bc-4759-4a82-9573-4fd4647fc37e', N'9c326af8-cddd-40f3-b988-8dffb9d266c0', 2, CAST(N'2018-10-07T17:45:23.940' AS DateTime))
INSERT [dbo].[Order] ([Id], [TableId], [FoodId], [Quantity], [Date]) VALUES (N'ee054b3d-de0a-4d9b-829e-5b6b1baff4fd', N'b75677bc-4759-4a82-9573-4fd4647fc37e', N'2f68c725-a70f-4876-bf69-369339414d6b', 1, CAST(N'2018-10-07T17:45:23.957' AS DateTime))


INSERT [dbo].[OrderHistory] ([Id], [OrderSessionId], [TableId], [FoodId], [Quantity], [Price], [Date]) VALUES (N'6feece82-c15d-4416-b81f-005c2bb7af57', N'967250d2-0aa9-4706-a737-24828d692f7e', N'7b992905-7435-4de7-91d4-0d119383f7f2', N'9c326af8-cddd-40f3-b988-8dffb9d266c0', 2, 45000, CAST(N'2018-10-07T16:26:14.767' AS DateTime))
INSERT [dbo].[OrderHistory] ([Id], [OrderSessionId], [TableId], [FoodId], [Quantity], [Price], [Date]) VALUES (N'8348f921-e751-491f-82b7-0f898820e825', N'0318c7b2-0a57-4517-b823-d943e5b312c7', N'7b992905-7435-4de7-91d4-0d119383f7f2', N'9c326af8-cddd-40f3-b988-8dffb9d266c0', 3, 45000, CAST(N'2018-10-07T17:08:03.220' AS DateTime))
INSERT [dbo].[OrderHistory] ([Id], [OrderSessionId], [TableId], [FoodId], [Quantity], [Price], [Date]) VALUES (N'f038e16d-03df-4ce0-a4e8-1456fadd821a', N'0318c7b2-0a57-4517-b823-d943e5b312c7', N'7b992905-7435-4de7-91d4-0d119383f7f2', N'20dbd024-caf0-4b98-8286-13778784e89d', 2, 45000, CAST(N'2018-10-07T17:08:03.270' AS DateTime))



INSERT [dbo].[Table] ([Id], [Name], [Type], [SortOrder]) VALUES (N'ec8aa02f-ec10-49d9-8e90-09202a77aa24', N'BÀN 13', N'', 1)
INSERT [dbo].[Table] ([Id], [Name], [Type], [SortOrder]) VALUES (N'7b992905-7435-4de7-91d4-0d119383f7f2', N'BÀN 1', N'', 1)
INSERT [dbo].[Table] ([Id], [Name], [Type], [SortOrder]) VALUES (N'd4b67a78-abcd-4be8-b1fc-1cb3f05447eb', N'BÀN 2', N'', 1)


SELECT * FROM [Table]
SELECT * FROM [Order]
SELECT * FROM [OrderHistory]
SELECT * FROM [Food]
SELECT * FROM [OrderHistory] inner join [Table] on [Table].Id = [OrderHistory].Id  inner JOIN [Food] ON [Food].Id=[OrderHistory].Id
SELECT * FROM [OrderHistory] inner join [Order] ON [Order].Id=[OrderHistory].Id

ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Food] FOREIGN KEY([FoodId])
REFERENCES [dbo].[Food] ([Id])


GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Food]
GO
USE [master]
GO

select *from [OrderHistory] 
