<mat-card *ngIf="!!table">
  <mat-card-title>
    CHI TIẾT BÀN
  </mat-card-title>
  <mat-card-subtitle>
    {{table.name}}
  </mat-card-subtitle>
  <mat-card-subtitle>
      TỔNG TIỀN: {{getTotal()}}
    </mat-card-subtitle>

    <mat-list>
      <mat-list-item class="order-item" *ngFor="let order of getOrdersMapping()">
        <h3 class="header" mat-line> {{ order.name }} </h3>
        <p mat-line>
          <span class="type"> {{order.type}} </span>
        </p>
        <div class="price"> {{order.price}}đ </div>
        <button mat-icon-button (click)="buyOne(order)">
          <mat-icon>home</mat-icon>
        </button>
        <span class="quantity text-center">{{order.quantity}}</span>
        <button mat-icon-button (click)="removeOne(order)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

  <table mat-table [dataSource]="getOrdersMapping()" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>TÊN</th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>LOẠI BÀN</th>
      <td mat-cell *matCellDef="let element"> {{element.type}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>GIÁ</th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency:'đ'}}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>MUA</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="buyOne(element)">+</button>
        {{element.quantity}}
        <button (click)="removeOne(element)">-</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-card-footer>
    <div>
      <button mat-button (click)="buttonClicked.emit({type:'close', table: table})">ĐÓNG</button>
      <button mat-button (click)="buttonClicked.emit({type:'save', table: table, orders: orders})">LƯU</button>
      <button mat-button (click)="buttonClicked.emit({type:'checkout', table: table, orders: orders})">THANH TOÁN</button>
    </div>
  </mat-card-footer>
</mat-card>
