table {
    height:20px;
    width: 100%;
  }
  .mat-header-cell {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: black;
    text-align: left ;
  }
  div{
    height: 30px;
  a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  } 
  