<mat-card>
    BIÊN TẬP THÔNG TIN NHÂN VIÊN
</mat-card>

<form class="input">
    <mat-form-field class="input-width" >
      <textarea matInput placeholder="TÊN NHÂN VIÊN" (change)="employeeName=$event.target.value" [value]= "employeeName"></textarea >
    </mat-form-field>

    <mat-form-field class="input-width">
      <textarea matInput placeholder="SỐ ĐIỆN THOẠI" (change)="employeePhone=$event.target.value" [value]= "employeePhone"></textarea>
    </mat-form-field>

    <mat-form-field class="input-width">
      <textarea matInput placeholder="EMAIL" (change)="employeeEmail=$event.target.value" [value]= "employeeEmail"></textarea>
    </mat-form-field>

    <mat-form-field class="input-width">
      <textarea matInput placeholder="GIỚI TÍNH" (change)="employeeGender=$event.target.value" [value]= "employeeGender"></textarea>
    </mat-form-field>

    <mat-form-field class="input-width">
      <textarea matInput placeholder="LOẠI NHÂN VIÊN" (change)="employeeType=$event.target.value" [value]= "employeeType"></textarea>
    </mat-form-field>
  </form>

  <button class = "buttonAdd" (click) = "saveEmployee()" >
      LƯU LẠI
  </button>
  <button class ="buttonClose" (click) = "closeEmployeeForm()" >
       ĐÓNG
  </button>

