
.buttonAdd
{
    background-color: greenyellow;
    display: inline-block;
    margin-left: 40px;
}
.buttonClose
{
    background-color: greenyellow;
    display: inline-block;
    margin-left: 50px;
}
.input {
    min-width: 150px;
    max-width: 500px;
    width: 80%;
  }
  .input-width {
    width: 50%;
  }
