nav {
  height: 60px;
  a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .hightlight {
    font-size: 25px;
    color: #035c5d;
  }
}

