<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>

  </h1>
</div>

<nav>
    <a routerLink="/" [ngClass]="{'hightlight': router.url === '/'}" routerLinkActive="active">LỄ TÂN</a>
    <a routerLink="/lich-su" [ngClass]="{'hightlight': router.url === '/lich-su'}" routerLinkActive="active">LỊCH SỬ</a>
    <a routerLink="/quan-ly-nhan-vien" [ngClass]="{'hightlight': router.url === '/quan-ly-nhan-vien'}" routerLinkActive="active">NHÂN VIÊN</a>
</nav>
<router-outlet></router-outlet>
